{% extends 'admin/nav.html' %} {% block register %}

<!DOCTYPE html>
<html>
  <head>
    <title>Registration page</title>
    <link
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  
  </head>
  <body>
    <form action="/register_user" method="post" class="border border-dark" style=" margin:auto;margin-top: 100px; width: 600px; padding: 50px;">
      <h2>Register</h2>
      {% if error %}
      <p class="text-danger">{{ error }}</p>
      {% endif %} {% if success %}
      <p class="text-success">{{ success }}</p>
      {% endif %}
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required />
      </div>
    
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required />
      </div>
    
      <div class="mb-3">
        <label for="user_id" class="form-label">User Id:</label>
        <input type="text" id="user_id" name="user_id" class="form-control" required />
      </div>
    
      <div class="mb-3">
        <label for="mobileNumber" class="form-label">Phone Number:</label>
        <input type="number" id="mobileNumber" name="mobileNumber" class="form-control" />
      </div>
    
      <div class="mb-3">
        <label class="form-label">Select Gender:</label>
        <div class="form-check">
          <input type="radio" id="male" name="gender" value="male" class="form-check-input" checked />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input type="radio" id="female" name="gender" value="female" class="form-check-input" />
          <label for="female" class="form-check-label">Female</label>
        </div>
        <div class="form-check">
          <input type="radio" id="other" name="gender" value="other" class="form-check-input" />
          <label for="other" class="form-check-label">Other</label>
        </div>
      </div>
    
      <div class="mb-3">
        <label class="form-label">Select User Type:</label>
        <div class="form-check">
          <input type="radio" id="student" name="usertype" value="student" class="form-check-input" checked />
          <label for="student" class="form-check-label">Student</label>
        </div>
        <div class="form-check">
          <input type="radio" id="teacher" name="usertype" value="teacher" class="form-check-input" />
          <label for="teacher" class="form-check-label">Teacher</label>
        </div>
      </div>
    
      <button type="submit" class="btn btn-dark">Register</button>
    </form>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{%endblock register %}
