{% extends 'homepage.html' %} {% block content %}
<div class="container">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/11.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/12.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/13.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/14.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/15.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/16.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/17.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/18.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/19.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/20.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/21.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/22.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/23.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/24.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/25.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/26.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/27.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="2000">
        <img
          src="{{url_for('static',filename='images/28.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="5000">
        <img
          src="{{url_for('static',filename='images/29.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="5000">
        <img
          src="{{url_for('static',filename='images/30.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
      <div class="carousel-item my-5" data-bs-interval="5000">
        <img
          src="{{url_for('static',filename='images/31.jpeg')}}"
          class="d-block mx-auto"
          style="width: 80%; height: 550px"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% endblock content %}
