{% extends 'homepage.html' %}

{% block content %}
<style>
   .background-image {
      background-image: url('{{url_for("static",filename="images/2222.jpg")}}');
      background-size: cover;
      background-position: center;
      height: 100vh; 
      width: 90%;
      display: flex;
      overflow: hidden;

   }
   .left_col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   }
   .temp-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
   }
   .typewriter {
   overflow: hidden; /* Ensures text doesn't overflow its container */
   white-space: nowrap; /* Prevents text from wrapping */
   animation: typing 10s steps(30, end) forwards ;
}

@keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}


</style>

<div class="temp-grid bg-white">
  <div class="left_col">
    <!-- <p class="h1" style="font-family: cursive;font-size: 70px;color:red;"> Student Database Management System </p> -->
    <img src="../static/images/home_page.jpg" alt="" style="background-repeat: no-repeat;background-size: cover;height: 300px;">
  </div>
  <div class="" style="display: flex; flex-direction: column;justify-content: space-evenly;">
      <h3 style="display: flex;justify-content: center;">Student Database Management System</h3>
      <div style="display: flex;justify-content: center;flex-direction: column;">
         <a class="text-white bg-dark p-2 mb-2 m-auto rounded" style="width: 50%;text-decoration: none;text-align: center;" href="/student_login">Student Login</a>
         <a class="text-white bg-dark p-2 mb-2 m-auto rounded" style="width: 50%;text-decoration: none;text-align: center;" href="/teacher_login">Teacher Login</a>
         <a class="text-white bg-dark p-2 mb-2 m-auto rounded" style="width: 50%;text-decoration: none;text-align: center;" href="/admin_login">Admin Login</a>
      </div>
  </div>
</div>
{% endblock content %}
