{% extends 'homepage.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact Page</title>

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/login.css')}}"
    />
    <style>
      .login_form {
        margin-top: 120px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <form action="/contact" method="post" class="login_form">
      <h1>Contact Us</h1>
      {% if success %}
      <p style="color: rgb(0, 255, 0)">{{ success }}</p>
      {% endif %}
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br /><br />

      <label for="user_id">User Id:</label>
      <input type="text" id="user_id" name="user_id" required /><br /><br />

      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" required /><br /><br />

      <label for="message">Explanation:</label>
      <textarea name="message" rows="6"></textarea>

      <input type="submit" value="Submit" />
    </form>

    {%endblock content%}
  </body>
</html>
