{% extends 'homepage.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>library Page</title>

    <!-- <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/login.css')}}"
    /> -->
    <style>
      h1 {
        margin-top: 120px;
        text-align: center;
      }

      p {
        font-family: "Times New Roman";
        text-align: center;
        font-size: 25px;
        padding-bottom: 10px;
      }
      


    </style>
  </head>
  <body class="bg-white">
    <h1>Welcome to the Digital Library</h1>
    <!-- <form action="/library" method="get" class="login_form">
      <p>Search for books in the library:</p>
      <input type="text" name="q" placeholder="Search..." />
      <input type="submit" value="Search" />
    </form> -->
    <form action="/library" method="get" class="login_form w-25 m-auto bg-white p-3 rounded shadow">
        <div class="mb-3 p-3 ">
          <label for="disabledTextInput" class="form-label">Search for books</label>
          <input type="text" id="" name="q" class="form-control" placeholder="Search...">
        </div>
        <div class="m-auto mt-3" style="width: 50%;">
          <button type="submit" class="btn btn-dark " style="width: 100%;">Submit</button>
        </div>
      </fieldset>
    </form>
    <div class="container">
      {% if books %}
      <ul class="ul">
        {% for book in books %}
        <div class="card border border-primary mb-3">
          <img src="{{ book.thumbnail }}" class="card-img-top w-25 mx-auto mt-2" alt="book thumbnail">
          <div class="card-body">
            <h5 class="card-title h5">Title: {{ book.title }}</h5>
            <h5 class="card-title h5">Authors: {{ book.authors }}</h5>
            <p class="card-text">{{ book.description }}</p>
            <a href="{{ book.link }}" class="btn btn-dark">Read more</a>
          </div>
        </div>
        {% endfor %}
      </ul>
      {% else %}
      <p>No books found.</p>
      {% endif %}
    </div>
  </body>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
    {%endblock content%}
</html>
